h1{
    font-size: 48px;
    color: tomato;
}

div{
    width: 100%;
    background-color:snow;
}

h2{
    font-size: larger;
    color: tomato;
    font-size: 32px;
    display: inline-block;
    padding: 16px;
}

*{
    font-family:Arial, Helvetica, sans-serif
}

.contact-method :hover{
    color:red;
}
.contact-method :active{
    color: blue;
}
.contact-method :visited{
    color: green
}